.password-field-trigger::before,
.username-field-trigger::before,
.submitCode-field-trigger::before {
  top: 20px;
  left: -240px;
	position: relative;
	color: #000;
	font-size: 30px;
}

.username-field-trigger::before{
	content: "\e63c";
}

.password-field-trigger::before {
	content: "\e63d";
}
.submitCode-field-trigger::before {
	content: "\e623";
}
/*登录图标引入结束*/

.login-wrap{
  margin:0 auto;
}
/*.login-header-title h2{
  padding-left:;
}*/
.login-header-btn{
  display:block;
  float:right;
  width: 120px;
  height: 30px;
  margin-top: 15px;
}
/*.login-main-wrap{
background: url();
background-size: cover;
},*/
/*.login-main-wrap{
  position: relative;
}*/
.login-form-box{
  position: absolute;
  top:50%;
  margin-top:-190px;
  right:0px;
}
.login-form-box-wrapper{
  position: relative;
  height: 100%;
}
.login-form-box-wrapper .x-autocontainer-outerCt{
  height: 100%;
}
.login-form-title{
  text-align: center;
  width: 100%;
  height: 45px;
  display: block;
  line-height: 45px;
  font-size: 16px;
  font-weight: bolder;
  color: #157fcc;
}
.register-accounter,.forgot-password{
  text-decoration: none;
  color: #ccc;
}

.login-contact-box{
  padding-top: 15px;
}
.login-form-about{
  text-align: right;
}
.about-juan{
  padding-right: 15px;
  border-right: 1px solid #ccc;
  text-decoration: none;
  color: #000;

}
.contact-us{
  padding-left: 15px;
  border-left: 1px solid #ccc;
  text-decoration: none;
  color: #000;
}
.login-form-CopyRight{
  text-align: center;
  padding-top: 10px;
}
.login-footer{
  bottom:0;
  width:100%;
  position: fixed;
}
