html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
}
/*共同部分*/
.login-wrap,.login-wrap-re,.login-wrap-register{
    width: 100%;
    height: 100%;
    background: url("../images/login-bg.jpg") no-repeat center;
    background-size: cover;
}
.login-form-title{
	display: block;
	width: 100%;
	text-align: center;
	padding-bottom: 25px;
	font-size: 16px;
	color:#157fcc;
	border-bottom: 1px solid #157fcc;

}
.username-field,.password-field,.checkcode,.passwordAgain{
	display: inline-block;
	width: 120px;

}

/*登录页面*/
.login-form-re{
	padding-left: 60px;
}
.login-form-forgot{
	padding-right: 100px;
}
.login-form-login{
	display: inline-block;
	width: 90px;
	height: 35px;
	margin-left: 70px;
	margin-top: 35px;
}
.login-form-register{
	display: inline-block;
	width: 90px;
	height: 35px;
	margin-left: 60px;
	margin-top: 35px;
	background: #6d798c;
}



/*注册页面*/

.login-form-login-again{
	display: inline-block;
	width: 90px;
	height: 35px;
	margin-left: 150px;
	margin-top: 35px;
}
.login-form-code{

}
.login-form-getCode{
	
	background: #6d798c;
}


/*找回密码页面*/
.phonepsw-get{
	display: inline-block;
	width: 120px;
	height: 30px;
	margin-left: 135px;
	background: #6d798c;
}
.login-form-login-find{
	display: inline-block;
	width: 90px;
	height: 35px;
	margin-left: 150px;
	margin-top: 35px;

}
